server:
  port: 8082

spring:
  application:
    name: user-service

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://host:5432/postgres
    username: username
    password: password

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  grpc:
    server:
      host: localhost
      port: 9090
      max-inbound-message-size: 20971520


jwt:
  key: "SUPER-VERY-SECRET-KEY-VERY-SECRET-VERY-VERY"
  header: "Authorization"
