server:
  port: 8081

spring:
  application:
    name: storage-service

  grpc:
    server:
      port: 9090
      max-inbound-message-size: 209715200

  storage:
    s3:
      access-key: access-key
      secret-key: secret-key
      endpoint: https://storage.yandexcloud.net
      region: ru-central1
      bucket: clouddatastorage

jwt:
  key: "SUPER-SECRET-KEY-VERY-SECRET-DONT-USE-IN-PROD"
  header: "Authorization"